<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="morningsignout.phq9transcendi">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name=".activities.PHQApplication">

        <activity
            android:name=".activities.IndexActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.ReferenceActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".activities.ResourceActivity"
            android:label="@string/app_name" />
        <activity android:name=".activities.QuizIntroActivity"
            android:label="@string/quizintro_activity"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".activities.DemographicsIntroActivity"
            android:label="Demographics" />
        <activity
            android:name=".activities.DemographicsActivity"
            android:label="Demographics"/>
        <activity
            android:name=".activities.QuizActivity"
            android:label="Quiz"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>
        <activity android:name=".activities.ResultsActivity"
            android:label="@string/results_activity"
            android:theme="@style/AppTheme"/>

        <!--Not used for now because no login-->
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".activities.NewUserActivity"
            android:label="@string/title_activity_new_user"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="morningsignout.phq9transcendi.activities.MainActivity" />
        </activity>
    </application>

</manifest>
