<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="morningsignout.phq9transcendi">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>



    <application
        android:name=".activities.PHQApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/BlankTheme">
        <activity
            android:name=".activities.Activities.LaunchScreenActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.Activities.IndexActivity"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".activities.Activities.AboutUsActivity"
            android:label="@string/about_us_activity" />
        <activity
            android:name=".activities.Activities.QuizIntroActivity"
            android:label="@string/quizintro_activity" />
        <activity
            android:name=".activities.Activities.DemographicsIntroActivity"
            android:label="@string/demographics_intro_activity" />
        <activity
            android:name=".activities.Activities.DemographicsActivity"
            android:label="@string/demographics_activity"
            android:windowSoftInputMode="stateUnchanged" />
        <activity
            android:name=".activities.Activities.QuizActivity"
            android:label="@string/quiz_activity"></activity>
        <activity
            android:name=".activities.Activities.ResultsActivity"
            android:label="@string/results_activity" />
        <activity
            android:name=".activities.Activities.SettingsActivity"
            android:label="Settings"/>

        <receiver
            android:name="morningsignout.phq9transcendi.activities.HelperClasses.NotificationReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

    </application>


</manifest>